# SourceControlGenerator #
##########################
SourceControlGenerator.json

# Level Data         #
######################
Mods/NamingWizard_24295ad7-ffaa-4e6c-9b4b-8cbbbbc43f35/Levels/*
Mods/NamingWizard_24295ad7-ffaa-4e6c-9b4b-8cbbbbc43f35/Globals/*
Editor/Mods/NamingWizard_24295ad7-ffaa-4e6c-9b4b-8cbbbbc43f35/Levels/*

# Story files        #
######################
*.div
*.raw
*.osi
story_ac.dat
Mods/NamingWizard_24295ad7-ffaa-4e6c-9b4b-8cbbbbc43f35/Story/Dialogs/Autosave/*
Mods/NamingWizard_24295ad7-ffaa-4e6c-9b4b-8cbbbbc43f35/Story/Dialogs/Recovered/*

# Editor files       #
######################
*.config
StatsEditorConfig.*
EditorBrowserMetadata.*
EditorMetadata.*
EffectEditorConfig.*
ResourceSelectorConfig.*
RootTemplateSelectorConfig.*
meta.lsx
*.lsmg

# Asset Folders      #
######################
Public/NamingWizard_24295ad7-ffaa-4e6c-9b4b-8cbbbbc43f35/Assets/*
Public/NamingWizard_24295ad7-ffaa-4e6c-9b4b-8cbbbbc43f35/Content/*
Public/NamingWizard_24295ad7-ffaa-4e6c-9b4b-8cbbbbc43f35/RootTemplates/*
Public/NamingWizard_24295ad7-ffaa-4e6c-9b4b-8cbbbbc43f35/Voice/*

# Assets             #
######################
*.gr2
*.dae
*.swf
*.bullet
*.dds
*.tga
*.png
*.ttf

# Logs               #
######################
*.log
*.ailog
log.txt

# Binary Files       #
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.lsb
*.lsf
*.lsfx
*.lsefx
*.osi
*.patch
*.tmpl

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db